<h1>Tasks</h1>
<% @tasks.each do |task| %>
  <div class="form-check">
    <% if task.completed %>
      <input class="form-check-input" type="checkbox" value="" checked>
    <% else %>
      <input class="form-check-input" type="checkbox" value="">
    <% end  %>
    <label class="form-check-label">
      <%= link_to task.title, task_path(task) %>．<%= link_to '', task_path(task), method: :delete, data: {confirm: 'Are you sure?'}, class: "fas fa-trash-alt" %>
    </label>
  </div>
<% end %>
<div>
  <i class="fas fa-plus"></i>
  <%= link_to 'Add a new task', new_task_path %>
</div>

